-i https://pypi.org/simple
alembic==1.13.1
certifi
click
cloudinary
flask==2.3.3
flask-admin
flask-cors
flask-migrate==4.0.7
flask-sqlalchemy==3.1.1
flask-swagger
gunicorn
itsdangerous
jinja2
mako
markupsafe
psycopg2-binary==2.9.9
python-dateutil
python-dotenv
python-editor
pyyaml
six
sqlalchemy==2.0.29
urllib3
werkzeug
wtforms
Authlib
flask-jwt-extended
stripe
pytz
google-api-python-client
google-auth-oauthlib
